/vendor
/var/cache/*
!/var/cache/.gitkeep
/assets/custom/*
!/assets/custom/.gitkeep
/.idea
/src_frontend/node_modules
/.infrastructure/development-variables.env
/yarn.lock
/supervisord.*
*.sqlite3
.rkd/logs
*.pyc
*__pycache__*
/.venv
.venv-setup.log
