body {
    background: #7d8ea0 url('../img/bg-city.jpg') no-repeat bottom left;
}

html, body {
    height: 100%;
}

.btn {
    box-shadow: 3px 3px 18px -5px rgba(0,0,0,0.77);
}

.dashboard-title {
    text-align: center;
    margin-bottom: 25px;
}

.ds-btn li {
    width: 25%;
    font-size: 13px;
}

.ds-btn a {
    width: 100%;
    font-size: 13px;
}